body{
    font-family: 'Source Code Pro';
    line-height: 1.7;
    color: $white-color;
    background: $dark-color;
}

.container{
    width: $container-lg;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

p{
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

img{
    display: block;
    max-width: 100%;
}

.btn{
    @include button;
}

section{
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 500ms ease;

    &.active{
        height: 100vh;
        opacity: 1;
        visibility: visible;
        overflow-y: scroll;
        transition: all 800ms ease-in-out;
    }
}

.title{
    position: relative;
    width: fit-content;
    height: 180px;
    margin: 0 auto 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    

    span{
        left: 0;
        top: 0;
        font-size: 7rem;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        color: $secondary-color;
    }

    h2{
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-color;
        font-size: 3rem;
        text-transform: uppercase;
        
        strong{
            color: $primary-color;
            margin-left: 10px;
        }
    }
}

// popup

.popup{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $dark-color;
    z-index: 10;
    //display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 400ms ease-in-out;

    &.show{
        //display: block;
        visibility: visible;
        opacity: 1;
    }

    &__container{
        position: relative;
        top: 50%;
        width: 50%;
        margin: 0 auto;
        background: $secondary-color;
        border-radius: 10px;
        padding: 2rem;
        transform: translateY(-50%);
        transition: all 400ms ease;
    }

    &__scroll{
        position: relative;
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 80vh;
    }

    h3{
        width: fit-content;
        font-size: 2rem;
        text-transform: uppercase;
        color: $primary-color;
        margin: 1.5rem auto;
    }

    &__info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        margin-bottom: 1.5rem;

        span {
            font-size: 0.8rem;
        }
        a{
            color: $primary-color;
            text-decoration: underline;
        }
    }

    &__image{

        img{
            border-radius: 10px;
        }
    }

    &__close{
        position: absolute;
        top: -30px;
        right: -50px;
        font-size: 2.4rem;
        cursor: pointer;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $secondary-color;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $dark-color;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $dark-color;
  }

@keyframes bounceY {
    0%{
        transform: 0;
    }
    100%{
        transform: translateY(-35px);
    }
}


/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ================== */
@media screen and (max-width: 1024px) {
    .container{
        width: $container-md;

        & h2{
            font-size: 2rem;
        }
    }

    .popup{
        &__container{
            width: 70%;
        }
    }
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ================== */
@media screen and (max-width: 768px) {

    section{
        padding: 0;
        overflow-y: scroll;
        &.active{
            padding: 2rem 0 100px 0;
        }
    }
    .container{

        & h2{
            font-size: 1.8rem;
        }
        
    }

    .title{
        height: 120px;
        span{
            font-size: 4rem;
        }

        h2{
            font-size: 1.8rem;
        }
    }

    .popup{
        &__container{
            width: 85%;
        }

        &__close{
            top: -40px;
            right: 0px;
            font-size: 1.8rem;
        }
    }
}