.portfolio{
    background: $black-color;
    &__container{
        width: 70%;
    }

    &__title{
        position: relative;
        width: fit-content;
        height: 180px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        

        span{
            left: 0;
            top: 0;
            font-size: 7rem;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1;
            color: $secondary-color;
        }

        h2{
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white-color;
            font-size: 3rem;
            text-transform: uppercase;
            
            strong{
                color: $primary-color;
                margin-left: 10px;
            }
        }
    }

    &__control{
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1.5rem auto 2rem auto;
        width: fit-content;
        

        a{
            text-transform: uppercase;
            font-weight: bold;
            color: $white-color;

            &:hover,
            &.active{
                color: $primary-color;
            }
        }
    }

    &__contents{
        margin-bottom: 3rem;
    }

    &__items{
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
        justify-content: center;
        align-items: center;

        article{
            position: relative;
            opacity: 0;
            transform: translateX(-50%);
            width: 33.333333%;
            padding: 0.7rem;
            overflow: hidden;
            cursor: pointer;
            transition: all 400ms ease;

            figure{
                position: relative;
                &::before{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 0;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: $primary-color;
                    border-radius: 5px;
                    transition: all 400ms ease;
                }
            }
            
            &.show{
                opacity: 1;
                transform: translateX(0);
                
            }

            img{
                display: block;
                border-radius: 5px;
            }

            span{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                transform: translate(-50%, -50%);
                font-size: 1.4rem;
                font-weight: 600;
                text-transform: uppercase;
                transition: all 700ms ease;
            }

            

            &:hover{
                
                span {
                    width: 100%;
                }
                figure{
                    background: $primary-color;
                    &::before{
                        height: 100%;
                    }
                }
                
            }
        }
    }

    .popup{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $dark-color;
        z-index: 10;
        //display: none;
        visibility: hidden;
        opacity: 0;
        transition: all 400ms ease-in-out;

        &.show{
            //display: block;
            visibility: visible;
            opacity: 1;
        }

        &__container{
            position: relative;
            top: 50%;
            width: 50%;
            margin: 0 auto;
            background: $secondary-color;
            border-radius: 10px;
            padding: 2rem;
            transform: translateY(-50%);
            transition: all 400ms ease;
        }

        h3{
            width: fit-content;
            font-size: 2rem;
            text-transform: uppercase;
            color: $primary-color;
            margin: 1.5rem auto;
        }

        &__info{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            margin-bottom: 1.5rem;

            span {
                font-size: 0.8rem;
            }
            a{
                color: $primary-color;
                text-decoration: underline;
            }
        }

        &__image{

            img{
                border-radius: 10px;
            }
        }

        &__close{
            position: absolute;
            top: -30px;
            right: -50px;
            font-size: 2.4rem;
            cursor: pointer;
        }
    }
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ================== */
@media screen and (max-width: 1024px) {
    .portfolio{
        &__container{
            width: $container-md;
        }

        &__items{
            article{
                width: 50%;
            }
        }
        .popup{
            &__container{
                width: 70%;
            }
        }
    }
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ================== */
@media screen and (max-width: 768px) {
    .portfolio{
        &__title{
            height: 120px;
            span{
                font-size: 4rem;
            }

            h2{
                font-size: 1.8rem;
            }
        }

        &__items{
            flex-direction: column;

            article{
                width: 100%;
            }
        }

        .popup{
            &__container{
                width: 85%;
            }

            &__close{
                top: -40px;
                right: 0px;
                font-size: 1.8rem;
            }
        }
    }
}